---
import "@/styles/global.css";
import HeadScript from "@/partials/HeadScript.astro";
const { title, description, canonical } = Astro.props;
const siteUrl = import.meta.env.SITE_URL;
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <link rel="canonical" href={canonical} />

    <!-- SEO Open Graph -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content={canonical} />
    <meta property="og:type" content="website" />
    <meta
      property="og:image"
      content={`${siteUrl}images/opengraph/opengraph.webp`}
    />

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta
      name="twitter:image"
      content={`${siteUrl}images/opengraph/opengraph.webp`}
    />
    <HeadScript />
  </head>
  <body class="bg-white text-gray-900 font-sans">
    <header class="p-6 text-xl font-semibold border-b border-gray-200">
      <a href="/" class="hover:underline">Jefry Sánchez</a>
    </header>

    <main class="px-4 py-8">
      <slot />
    </main>

    <footer
      class="p-4 text-center text-sm text-gray-500 border-t border-gray-200"
    >
      © {new Date().getFullYear()} Jefry Sánchez — <a
        href="/cookies"
        class="underline">Política de Cookies</a
      >
    </footer>
  </body>
</html>
